.section_blog {
}
.title_page {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #174580;
    font-weight: 500;
    font-size: 6.25rem;
}
.container_post {
    border: 1px solid #0000001a;
    box-shadow: 0px 18px 30px 0px #0000001f;
    max-height: 100vh;
    height: 100%;
}
.container_page_post p {
    font-size: 19px;
    line-height: 1.9;
}
.content_post {
    padding: 2em;
}
.title_post h3 {
    min-height: 96px;
}
.title_post a{
    text-decoration: none;
    color: #174580;
    font-weight: 700;
    overflow: hidden;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
}
.container_page_post {
    padding: 3em;
    border: 1px solid #0000001a;
    box-shadow: 0px 18px 30px 0px #0000001f;
}
.container_page_post h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #174580;
    font-weight: 500;
    font-size: 2.5rem;
}
.date time {
    color: #174580;
    font-weight: 600;
}
.content_excerpt {
    font-size: 18px;
}