.container_budget {
    margin-bottom: 150px;
}

.content_budget {
    box-shadow: 0px 0px 35px 0px #35525429;
    padding-bottom: 20px;
    max-height: 503px;
    height: 100%;
    position: relative;
}
.content_budget_last {
    box-shadow: 0px 0px 35px 0px #35525429;
    padding-bottom: 20px;
    max-height: 437px;
    height: 100%;
    position: relative;
}
.content_budget_last p {
    font-size: 27px;
    text-shadow: 0px 0px 5px rgb(0 0 0 / 18%);
    font-weight: 700;
}

.content_budget_title {
    background-color: #174580;
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    text-align: center;
    padding: 10px;
    font-weight: 700;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.content_budget p {
    font-size: 27px;
    text-shadow: 0px 0px 5px rgb(0 0 0 / 18%);
    font-weight: 700;
}

.content_budget_price {
    text-align: center;
    color: #174580;
}

.content_budget_price span {
    font-size: 13px;
    font-weight: 400;
    color: #174580;
    text-transform: uppercase;
}

.content_budget_price p {
    font-weight: 700;
    font-size: 38px;
}

.content_budget_packet {
    padding: 10px;
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    justify-items: center;
}

.content_budget_packet ul {
    list-style-type: circle;
    width: fit-content;
    margin: 0 auto;
    font-weight: 400;
}

.content_budget_packet li::marker {
    color: #174580;
}
.content_budget_packet_text {
    margin-bottom: 45px;
}
.content_budget_packet_text p {
    font-size: 16px;
    color: #174580;
    margin-bottom: 0;
    text-align: center;
}

.content_budget_button {
    display: flex;
    justify-content: center;
    text-align: center;
    bottom: 0;
    position: absolute;
    left: 50%;
    width: 10px;
    margin: 20px 0px;
}

.content_budget_button button {
    font-size: 16px;
    font-weight: 700;
    border-radius: 20px;
    padding: 5px 55px;
    color: #FFFFFF;
    border: #174580 solid 1px;
    background-color: #174580;
    transition: all .4s ease;
    margin-top: 20px;
}

.content_budget_button button:hover {
    color: #174580;
    background-color: #fff;
    border: 1px solid #174580;
    text-decoration: none;
    opacity: 1;
}

@media(max-width: 768px) {
    .content_budget {
        margin-bottom: 80px;
    }
    .content_budget_packet_text p{
        font-size: 14px;
    }
    .content_budget {
        max-height: 600px;
    }
    .content_budget_last{
        max-height: 493px;
    }
    

}

@media(min-width: 768px) {
    .content_budget {
        margin-bottom: 50px;
    }
}

@media(max-width: 425px) {
    .content_budget {
        max-height: 540px;
    }
    .content_budget_last .content_budget_packet{
        margin-bottom: 40px;
    }
}
@media(max-width: 320px) {
    .content_budget {
        max-height: 740px;
    }
 }