.section_contact {
    padding-bottom: 40px;
}
.section_contact h5 {
    color: #174580;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 30px;
}
.button_contact {
    background-color: #FFFFFF;
    color: #174580;
    border: 1px solid #174580;
    font-size: 20px;
    font-weight: 700;
    padding: 5px 25px;
    border-radius: 5px;
    text-decoration: none;
    opacity: 1;
    transition: all .2s ease;
}
.button_contact:hover {
    background-color: #174580;
    color: #fff;
}
.section_contact form {
    color: black;
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 0px 35px 0px #35525429;
}
.section_contact form input[type="text"] {
    border: 1px solid #dddfe7;
    outline: none;
    padding: 5px 20px;
    border-radius: 6px;
    display: inline-block;
    width: 100%;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
    transition: all 0.2s ease;
}
.container_contact {
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 60px;
    box-shadow: 0px 0px 35px 0px #35525429;
    margin: auto;
    text-align: center;
    color: #174580;
}
.container_contact_title {
    font-size: 17px;
    font-weight: 500;
}
.content_contact_icon {
   margin: 20px 0px;
   
}
.content_contact_icon svg {
    height: 20px
}
.content_contact_text {
    font-weight: 700;
}
.content_contact_text a {
    text-decoration: none;
    color: #174580;
}
.content_contact_type {
    font-size: 12px;
    font-weight: 400;
}
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #174580; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@media(max-width: 425px) {
    .section_contact h5 {
        font-size: 2em;
    }
}