html,
body {
  padding: 0;
  margin: 0;
  font-family:  'Open Sans',sans-serif !important;
  background: #ffffff !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
