.nav_link{
    color: #ffffff;
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 1.1em;
    transition: all .4s ease;
}
.nav_link:hover {
    color: #3BB3C2
}
.nav_toggler_custom_icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
    border-color: rgba(255,255,255);
}
@media (min-width: 1024px) {
    .img_logo {
        max-width: 300px !important;
        width: 300px !important;
    }
}
@media(max-width: 425px) {
    .img_logo {
        max-width: 300px !important;
        width: 300px !important;
    }
}
@media(max-width: 375px) {
    .img_logo {
        max-width: 250px !important;
        width: 250px !important;
    }
}
