.container_portifolio {
    margin-bottom: 150px;
}
.title_portifolio {
    color: #174580;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
}
.container_image_portifolio {
    max-width: 700px;
    width: 100%;
    text-align: center;
    box-shadow: 0px 18px 30px 0px #0000001f;
    max-height: 363px;
    transform: scale(.9);
    height: 100%;
    transition: all 0.45s cubic-bezier(0.25, 1, 0.2, 1);
}
.container_image_portifolio:hover {
    transform: scale(1);
    opacity: 0.5;
}
.container_image_portifolio_inline {
    display: inline-block;
}
.container_image_portifolio_info {
    color: #174580;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
   
    transition: all .2s ease;
}

.container_image_portifolio_client {
    text-align: center;
}
.container_image_portifolio_client a {
    color: #174580;  
    font-size: 22px;
    font-weight: 700;
    text-decoration: none;
}
@media(max-width: 768px) {
    .container_image_portifolio {
        margin-bottom: 15px;
        transform: none;
        max-height: 190px;
    }
}
@media(max-width: 425px) {
    .title_portifolio {
        font-size: 2em;
    }
    .container_image_portifolio {
        max-height: 229px;
        margin-bottom: 15px;
    }
    .container_image_portifolio_client {
        margin-bottom: 32px; 
    }
}
@media(max-width: 375px) {
    .container_image_portifolio {
        max-height: 200px;
        margin-bottom: 30px;
    }
 }