.container_privacy {
    border: 1px solid #0000001a;
    border-radius: 20px;
    box-shadow: 0px 18px 30px 0px #0000001f;
    transition: all 0.45s cubic-bezier(0.25, 1, 0.2, 1);
    width: 100%;
    padding: 4em 2em;
    margin: 40px;
}
.container_privacy h1 {
    color: #174580;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}
.content_privacy p {
    line-height: 20px;
}
.subtitle_privacy {
    color: #174580;
    font-weight: 700;
}