.title_site {
    color: #174580;
    font-size: 3.1em;
    line-height: 51px;
    font-weight: 700;
}
.bg_slider {
    background-image: url('/images/bg-principal-5.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    padding-top: 160px;
    height: 100vh;
}
.bg_site_text {
    margin-top: 30px;
    background-color:rgba(255, 255, 255, 0.3);
}
.bg_site_text p {
    font-size: 18px;
}
.button_budget {
    background-color: #174580;
    color: #fff;
    border-color: #174580;
    font-weight: 600;
    font-size: 1.5em;
    margin-top: 30px;
    transition: all .6s ease;
}
.button_budget:hover {
    color: #174580;
    background-color: #fff;
    border: 1px solid #174580;
    text-decoration: none;
    opacity: 1;
}
@media(max-width: 425px) {
    .bg_slider {
        background-image: none;
        height: 80vh;
        background-attachment: scroll;
    }
    .title_site {
        font-size: 2em;
        line-height: 35px;
    }
  }