.bg_nossos_projetos {
    margin-bottom: 100px;
}

.services_content {
    border: 1px solid #0000001a;
    border-radius: 20px;
    box-shadow: 0px 18px 30px 0px #0000001f;
    transition: all 0.45s cubic-bezier(0.25, 1, 0.2, 1);
    padding: 2em 2em;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: scale(.9);
    transition: all .2s ease;
    width: 100%;
    max-height: 300px;
    height: 100%;
}
.services_content:hover {
    transform: scale(1);
}
.services_title {
    font-size: 22px;
    color: #174580;
    font-weight: 500;
}
.services_text {
    font-size: 13px;
    font-weight: 400;
}
.title_services {
    color: #174580;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}
@media(max-width: 425px) {
    .title_services {
        font-size: 2em;
    }
}